datasci
requests>=2.20.0
requests-cache
beautifulsoup4==4.8.1
python-dateutil
pytz
spacy==2.2.2
cytoolz
ftfy
liwc==0.4.1
pycodestyle
pandas
scipy
scikit-learn
jupyterlab
matplotlib
altair
wordcloud
pycairo
textacy
tqdm
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.0/en_core_web_md-2.2.0.tar.gz#egg=en_core_web_md
